<main>
        <form class="login" action="/register" method="post">
            <h1> Register </h1>
            <hr>
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="surname" placeholder="Surname">
            <input type="text" name="age" placeholder="Age">
            <button> Register </button>
        </form>
</main>